*,
*::after,
*::before{

    margin: 0;
    padding: 0;
}


body,html{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 16px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.container{
    width: 100%;
    overflow-x: hidden;
    
}

div{
    display: block;
}

.h{
    background-color: transparent;
    transition: background-color .5s;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;  
    overflow: hidden;
}
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: .5rem;
    height: auto;
    position: relative;
    margin: 0 3.5rem;
    background-color: transparent;
}
@media only screen and (min-width: 400px) and (max-width: 549px),
 only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px){
.header {
    margin: 0 5%;
}
}
.logo{
    margin-right: auto;
    fill: #e50914;
    line-height: normal;
    background-color: transparent;

}

img {
    width: 167px;
    height: 45px;
}


img {
    width: auto;
    height: 1.5rem;
    padding-top: 0;
} 



@media only screen and (min-width: 1450px){
img {
    width: 10.4375rem;
    height: 2.8125rem;
}
}

@media only screen and (min-width: 950px) and (max-width: 1449px){
img {
    width: 8.375rem;
    height: 2.25rem;
}
}

@media only screen and (min-width: 550px) and (max-width: 949px){
img {
    width: 6.75rem;
    height: 2rem;
}
} 


.text{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.selection-container {
    display: inline-block;
}

.selection-container .select-wrapper {
    width: auto;
}

.select-wrapper {
    display: inline-block;
    position: relative;
}

.selection-container .label {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    margin: -1px;
    clip: rect(0 0 0 0);
    border: 0;
}

 .selection-container .select-medium {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    line-height: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding: .25rem 1.375rem;
}


.select-medium {
    background: #fff;
    font-size: 16px;
    border: 1px solid #b3b3b3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
}


.select-wrapper .select-arrow {
    position: relative;
    display: inline-block;
    width: 100%;
}


@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 950px) and (max-width: 1449px), 
 only screen and (min-width: 1450px){
 .selection-container .select-medium {
    padding: .5rem 1.375rem;
}
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
.selection-container {
    margin-right: 2rem;
}
}


.redButton {
    
    margin-top: 0;
    white-space: nowrap;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
    color: #fff;
    border-radius: 3px;
}

a{
    text-decoration: none;
    
}


.story-cards {
    margin: 0 auto;
}




.hero-card {
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}

@media only screen and (min-width: 550px) and (max-width: 949px), 
only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.hero-card {
    padding: 70px 45px;
}
}


.story-card-background {
    z-index: 0;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.story-card-background {
    top: -100px;
}
}



.hero-card .story-card-background .img-wrapper {
    bottom: 0;
}
.hero-card .img-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hero-card .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-card .img-gradient{
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hero-card .story-card-text {
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    font-size: 1.625rem;
    font-weight: 400;
}

@media only screen and (min-width: 550px) and (max-width: 949px){
.hero-card .story-card-text {
    font-size: 1.25rem;
}
}

@media only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 350px) and (max-width: 399px),
 only screen and (max-width: 349px){
.hero-card .story-card-text {
    font-size: 1.125rem;
}
}
.hero-card .story-card-title {
    font-size: 1.75rem;
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.hero-card .story-card-title {
    font-size: 4rem;
}
}

@media only screen and (min-width: 950px) and (max-width: 1449px){
.hero-card .story-card-title {
    font-size: 3.125rem;
}
}

@media only screen and (min-width: 550px) and (max-width: 949px){
.hero-card .story-card-title {
    font-size: 3.125rem;
}
}

.hero-card h1{
    max-width: 640px;
    margin: 0 auto;
}

.hero-card h2 {
    max-width: 640px;
    margin: 0 auto;
}
@media only screen and (min-width: 1450px){
.hero-card h1, .hero-card h2 {
    max-width: 800px;
}
}

.hero-card .story-card-subtitle {
    font-size: 1.125rem;
    margin: 1rem auto;
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.hero-card .story-card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
}
}

@media only screen and (min-width: 550px) and (max-width: 949px){
.hero-card .story-card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
}
}

form {
    display: block;
    margin-top: 0em;
}

.email-form{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction:column ;
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
only screen and (min-width: 1450px){
.email-form {
    max-width: 950px;
    padding-top: .85rem;
}
}


.email-form-title {
    padding: 0 5%;
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.email-form-title {
    max-width: none;
    padding-bottom: 20px;
    font-size: 1.2rem;
}
}

@media only screen and (min-width: 400px) and (max-width: 549px),
 only screen and (min-width: 550px) and (max-width: 949px){
.email-form-title {
    padding: 0 10%;
}
}

h3 {
    font-size: 18px;
}

@media screen and (min-width: 740px){
h3 {
    font-size: 23px;
}
}

.email-form-lockup {
    text-align: center;
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
.email-form-lockup {
    
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin: 0 auto;
}
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
.email-form-lockup .simpleForm {
    vertical-align: top;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: right;
}
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.field-email {
    margin-bottom: 10px;
}

@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (min-width: 400px) and (max-width: 549px),
   only screen and (max-width: 349px){
.email-form-lockup .field-email {
    margin-bottom: 0;
}
}

.Input {
    max-width: 500px;
    position: relative;
}

.email-form-lockup .Input {
    margin: 10px auto;
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.email-form-lockup .Input {
    margin: 0 auto;
    display: inline-block;
}
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.email-form-lockup .Input {
    margin: 0;
}
}

.Input .InputPlacement {
    position: relative;
}

label {
    cursor: default;
}

.Input .nfTextField {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}

.nfTextField {
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    display: block;
    appearance: none;
    color: #000;
}

@media only screen and (min-width: 1450px){
.email-form-lockup .Input input {
    min-width: 500px;
    height: 70px!important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
}

@media only screen and (min-width: 950px) and (max-width: 1449px){
.email-form-lockup .Input input {
    min-width: 450px;
    height: 60px!important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
}

@media screen and (min-width: 740px){
.Input .nfTextField {
    height: 60px;
}
}

@media only screen and (min-width: 740px){
.Input .placeLabel {
    font-size: 16px;
}
}

.Input .placeLabel {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #8c8c8c;
    transition: font .1s ease,top .1s ease,transform .1s ease,-webkit-transform .1s ease,-moz-transform .1s ease,-o-transform .1s ease;
    transform: translateY(-50%);
}
.Input,.nfTextField:focus+.placeLabel {
    top: 4px;
    font-size: 11px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
@media screen and (min-width: 740px){
.Input ,.nfTextField:focus+.placeLabel {
    top: 6px;
    font-weight: 700;
    font-size: 13px;
}
}



@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.email-form-lockup .our-story-cta-container {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}
}

.hero-card .story-card-text .our-story-cta-container {
    float: none;
}

@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (min-width: 400px) and (max-width: 549px),
   only screen and (max-width: 349px){
.email-form-lockup .our-story-cta-container {
    padding: 0;
    margin-top: 0;
}
}


@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
.email-form-lockup .nmhp-cta, .email-form-lockup .our-story-cta {
    margin: 0!important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 1px solid #333;
}
}
.nmhp-cta-extra-large {
    font-size: 1rem;
    min-height: 40px;
}

@media only screen and (min-width: 1450px){
.nmhp-cta-extra-large {
    font-size: 1.875rem;
    min-height: 70px;
}
}
@media only screen and (min-width: 950px) and (max-width: 1449px){
.nmhp-cta-extra-large {
    font-size: 1.625rem;
    min-height: 60px;
}
}


@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
.nmhp-cta .cta-btn-txt {
    padding: .5rem 0;
}
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
.nmhp-cta {
    padding: 0 1em;
    margin: .5em auto;
}
}

.nmhp-cta {
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: .25em auto;
    padding: 0 1em;
    line-height: initial;
    width: auto;
}
.btn {
    position: relative;
    min-width: 74px; 
}

.btn-red {
    color: #fff;
    background-color: #e50914;
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}
.animation-card{
    background-color: black;
}

.animation-card .animation-card-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
   only screen and (max-width: 349px){
.animation-card .animation-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
}


@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
   only screen and (max-width: 349px){
.animation-card .story-card-text {
    margin: 0;
}
}

.animation-card .story-card-text {
    width: 52%;
    height: 100%;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    padding: 0 3rem 0 0;
    z-index: 3;
}

@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 400px) and (max-width: 549px),
 only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px){
.animation-card .story-card-text {
    width: 100%;
    text-align: center;
    padding: 0;
}
}

.animation-card .story-card-img-container {
    width: 48%;
    height: 100%;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    box-sizing: border-box;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 400px) and (max-width: 549px),
 only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px){
.animation-card .story-card-img-container {
    width: 100%;
    max-width: 600px;
    margin-top: 1em;
}
  }

.animation-card .story-card-animation-container {
    margin: -10% -5% -5% 0;
    position: relative;
    overflow: hidden;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
   only screen and (max-width: 349px){
.animation-card .story-card-animation-container {
    margin: -10% 0 0 0;
}
}

.animation-card .story-card-img{
    position: relative;
}
.hero-card .story-card-img{
    width: 100%;
    height: auto;
    border: 0;
}

.animation-card.watchOn .story-card-animation {
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.animation-card .story-card-video {
    width: 100%;
    height: 100%;
}
video {
    display: inline-block;
    vertical-align: baseline;
}
.animation-card.flipped .story-card-animation-container {
    min-height: 100px;
    width: 100%;
}
.animation-card.flipped .animation-card-container .story-card-text {
    padding: 0 0 0 3rem;
}

.animation-card.flipped .animation-card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-flow: row-reverse;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
   only screen and (max-width: 349px){
.animation-card.flipped .animation-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
}

.animation-card.flipped .story-card-animation {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 60%;
    min-width: 15em;
    padding: .25em .65em;
    border: 2px solid rgba(255,255,255,.25);
    box-shadow: 0 0 2em 0 #000;
    border-radius: .75em;
}

@media only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.animation-card.flipped .story-card-animation {
    padding: .5em .75em;
}
}

@media only screen and (min-width: 400px) and (max-width: 549px),
 only screen and (min-width: 550px) and (max-width: 949px){
.animation-card.flipped .story-card-animation {
    padding: .35em .75em;
}
}

.animation-card.flipped .story-card-animation .story-card-animation-image {
    margin: 0 1em 0 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.animation-card.flipped .story-card-animation .story-card-animation-image img {
    height: 3em;
}
@media only screen and (min-width: 1450px){
.animation-card.flipped .story-card-animation .story-card-animation-image img {
    height: 5em;
}
}
@media only screen and (min-width: 950px) and (max-width: 1449px){
.animation-card.flipped .story-card-animation .story-card-animation-image img {
    height: 4.5em;
}
}
@media only screen and (min-width: 550px) and (max-width: 949px){
    .animation-card.flipped .story-card-animation .story-card-animation-image img {
        height: 4em;
}
}

.animation-card.flipped .story-card-animation .story-card-animation-text {
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        margin: .3em 0;
}
.animation-card.flipped .story-card-animation .story-card-animation-text .text-0 {
    color: #fff;
    font-weight: 600;
    font-size: .9em;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 950px) and (max-width: 1449px),
  only screen and (min-width: 1450px){
.animation-card.flipped .story-card-animation .story-card-animation-text .text-0 {
    font-size: 1em;
}
}
.animation-card.flipped .story-card-animation .story-card-animation-text .text-1{
    color: #0071eb;
    font-size: .75em;
    font-weight: 400;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 950px) and (max-width: 1449px),
  only screen and (min-width: 1450px){
.animation-card.flipped .story-card-animation .story-card-animation-text .text-1{
    font-size: .9em;
}
}
.animation-card.flipped .story-card-animation:after {
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
only screen and (min-width: 950px) and (max-width: 1449px),
 only screen and (min-width: 1450px){
.animation-card.flipped .story-card-animation:after {
    height: 3.75em;
}
}
.animation-card.watchOn.Device .story-card-animation {
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.animation-card.watchOn.Device .story-card-img{
    position: relative;
    z-index: 2;
}
.footer-card{
    background-color:black;
       
}

.hero-card.card-contents{
    border-bottom: none;
    padding-bottom: 0;
}
.site-footer-wrapper {
    margin-top: 0;
    min-width: 190px;
    width: 100%;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.site-footer {
    padding-top: 0;
    margin: 0 auto;
    width: 90%;
}
.footer-top {
    padding: 0;
    margin: 0 0 30px;
}
.footer-top-a {
    color: #757575;
}
.footer-link{
    color: #757575;
}
ul.structural {
    padding: 0;
    margin: 0;
}
.footer-links {
    max-width: 1000px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.structural>li {
    list-style: none;
    margin-left: 0;
}
.footer-link-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 20%;
    padding-right: 12px;
    vertical-align: top;
}
.fot{
    margin-top: 20px;
}
.footer-country {
    font-size: 13px;
    margin-top: 24px;
}
@media only screen and (max-width: 740px){
.footer-link-item {
    width: 30%;
}
}
@media only screen and (max-width: 500px){
.footer-link-item {
    width: 40%;
}
}